
body{
    justify-content: center;
      background-image: url("bgimg.png");
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 100vh;
      display:flex;
      flex-direction: column;
  }
  